
build

.vscode/
# .env file is tracked for defaults but further changes are ignored.
!.env

vcpkg.json
vcpkg_installed

# Prerequisites
*.d




# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
